@font-face {
    font-family: 'Onest';
    src: url('fonts/Onest.ttf');
}

.header {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.leftside {
    align-items: center;

}

.rightside {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pixelbutton {
    margin: 10px 10px;
    font-family: Onest;
}

#notesbutton {
    margin: 10px 10px;
    font-family: Onest;
    color: #C9DEFF;
}

#aboutbutton {
    margin: 10px 10px;
    font-family: Onest;
}

#logo {
    font-family: Onest;
}

.main {
    width: 100%;
}

.banner {
    width: 90%;
    height: 300px;
    padding: 10% 0;
    margin: 10px auto 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #EDD9FA;
    border-radius: 8px;
}

#title {
    font-family: Onest;
    text-align: left;
    font-size: 64px;
    margin: 10px 72px;
}

#subtitle {
    font-family: Onest;
    text-align: left;
    font-size: 32px;
    margin: 10px 72px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#key {
    width: 60%;
    height: 48px;
    margin: 10px 72px;
    float: left;
    background-color: white;
    color: black;
    border-color: black;
    font-family: Onest;
    border-radius: 8px;
    padding: 16px;
}

#checkkey {
    width: 20%;
    height: 48px;
    margin: 10px 72px;
    background-color: transparent;
    border: 2px dashed black;
    border-radius: 8px;
    font-family: onest;
}

#message {
    font-family: Onest;
    margin: 10px 72px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        margin-top: 32px;
    }

    .rightside {
        justify-content: center;
        width: 100%;
    }

    .leftside {
        justify-content: center;
        width: 100%;
        margin: 2px 2px;
    }

    #logo {
        margin: 0;
    }

    #title {
        font-size: 48px;
    }

    #subtitle {
        font-size: 24px;
    }
}