@font-face {
    font-family: 'Onest';
    src: url('../../fonts/Onest.ttf');
}

.header {
    margin: 2%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
        margin-top: 32px;
    }

    .rightside {
        justify-content: center;
        width: 100%;
    }

    .leftside {
        justify-content: center;
        width: 100%;
        margin: 2px 2px;
    }

    #logo {
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: black;
}

.leftside {
    align-items: center;

}

.rightside {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pixelbutton {
    margin: 10px 10px;
    font-family: Onest;
}

#notesbutton {
    margin: 10px 10px;
    font-family: Onest;
}

#aboutbutton {
    margin: 10px 10px;
    font-family: Onest;
}

#logo {
    font-family: Onest;
}

.main {
    width: 100%;
}

.banner {
    width: 90%;
    margin: 200px auto 200px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bannerwelcome {
    font-family: Onest;
    text-align: center;
    font-size: 64px;
    margin: 10px auto;
}

#banneradditional {
    font-family: Onest;
    text-align: center;
    font-size: 32px;
    margin: 10px auto;
}

.container {
    margin: 100px auto;
    width: 90%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.firstblock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px dashed black;
    grid-column: 1;
    grid-row: 1;
}

#firstblocktitle {
    font-family: Onest;
    text-align: center;
    font-size: 48px;
    margin: 10px auto;
}


.secondblock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px dashed black;
    grid-column: 2;
    grid-row: 1;
}

#secondblocktext {
    font-family: Onest;
    text-align: center;
    font-size: 24px;
    margin: 0px auto;
}

.thirdblock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px dashed black;
    grid-column: 1 / span 2;
    grid-row: 2;
}

#thirdblocktitle {
    font-family: Onest;
    text-align: center;
    font-size: 48px;
    margin: 10px auto;
}

#thirdblocktext {
    font-family: Onest;
    text-align: center;
    font-size: 24px;
    margin: 0px auto;
}

.fourthblock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px dashed black;
    grid-row: 1/ span 2;
    grid-row: 3 / 5;
}

#fourthblocktitle {
    font-family: Onest;
    text-align: center;
    font-size: 48px;
    margin: 0px auto;
}

.fifthblock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px dashed black;
}

#fifthblocktext {
    font-family: Onest;
    text-align: center;
    font-size: 24px;
    margin: 0px auto;
}

.sixthblock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px dashed black;
}

#sixthblocktext {
    font-family: Onest;
    text-align: center;
    font-size: 24px;
    margin: 0px auto;
}

.seventhblock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px dashed black;
}

#seventhblocktitle {
    font-family: Onest;
    text-align: center;
    font-size: 48px;
    margin: 0px auto;
}


#seventhblocktext {
    font-family: Onest;
    text-align: center;
    font-size: 24px;
    margin: 0px auto;
}

.eighthblock {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 6px dashed black;
}

#eighthblocktext {
    font-family: Onest;
    text-align: center;
    font-size: 24px;
    margin: 0px auto;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .firstblock,
    .secondblock,
    .thirdblock,
    .fourthblock,
    .sixthblock {
        grid-column: 1;
        grid-row: auto;
    }

    .secondblock,
    .thirdblock,
    .sixthblock {
        margin-bottom: 40px;
    }
}

/* Footer styling */

.footer {
    border-top: 6px dashed black;
    width: 100%;
}

#footertext {
    font-family: Onest;
    text-align: left;
    font-size: 24px;
    margin: 30px 10px 0px 50px;
}

.morelinks {
    margin: 0px 50px 10px 10px;
}

#morelinkslink {
    color: black;
    font-family: Onest;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    margin: 8px 0px 8px 0px;
}

#glowingcarpenterboy {
    color: black;
    font-family: Onest;
    text-align: left;
    font-size: 24px;
    margin: 0px;
    transition: text-shadow 0.5s;
}

#glowingcarpenterboy:hover {
    color: black;
    text-shadow: 0 0 5px rgb(164, 189, 228), 0 0 10px rgb(164, 189, 228), 0 0 15px rgb(164, 189, 228), 0 0 20px rgb(164, 189, 228), 0 0 30px rgb(164, 189, 228), 0 0 40px rgb(164, 189, 228), 0 0 55px rgb(164, 189, 228), 0 0 75px rgb(164, 189, 228);
    cursor: default;
}